  <% find_issue(session[:issue_id]) %>
  <form name="open_issue" action="/issues/update_id" method="post">
    
    <label class="label" for="issue_title">Issue Title:</label>
    <input type="text" name="issue_title" placeholder="required" value="<%= @issue.issue_title %>">
    <% if @errors %>
    <span class="tomato"><%= @errors[:issue_title] %></span>
    <% end %>
    <br>

    <label class="label" for="issue_language">Primary Language:</label>
    <input type="text" name="issue_language" placeholder="ruby, js, sinatra, ect" value="<%= @issue.issue_language %>">
     <% if @errors %>
    <span class="tomato"><%= @errors[:issue_language] %></span>
    <% end %>
    <br>
    
    <label class="label" for="priority">How fucked are you:</label>
    <input type="range" name="priority" min="0" max="10" value="5" step="1" onchange="showValue(this.value)" />
    <span id="range">5</span>
    <script type="text/javascript">
        function showValue(newValue)
        {document.getElementById("range").innerHTML=newValue;}
    </script>
    <br>

    
    <label class="label" for="gist">Gist:</label>
    <input type="text" name="gist" placeholder="Enter your problem code here" value="<%= @issue.gist %>">
    <% if @errors %>
    <span class="tomato"><%= @errors[:gist] %></span>
    <% end %>
    <br>
    
    <div class="submit"><input type="submit" value="Update Issue"></div>

  </form>